$brown-color:#D87D4A;
$brown-light-color:#FBAF85;
$black-one-color:#101010;
$black-two-color:#000000;
$black-three-color:#141414;
$silver-color:#F1F1F1;
$silver-light-color:#FAFAFA;
$white-color:#FFFFFF;

$main-ff: "Manrope", sans-serif;


